.callback {
  display: none;
  position: absolute;
  right: 0;
  width: 320px;
  height: 100%;
  z-index: 2;

  background-color: #fff;

  @media (min-width: 1440px) {
    width: 440px;
  }

  &--open {
    display: block;
  }
}