.list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  overflow-x: scroll;
  @media (min-width: 1130px) {
    overflow-x: auto;
  }
  &__item {
    display: block;
    padding: 8px 9px 8px 17px;
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #7E7E82;
    white-space: nowrap;
  }
  &__item_active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
  }
  &__button {
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #7E7E82;
    white-space: nowrap;
  }
}