.services {
  background-color: #F8F8F8;



  &__list {
    margin-top: 2.4rem;
    margin-left: 17px;
  }
  @media (min-width: 1120px) {


    &__list {
      flex-wrap: wrap;
      overflow: auto;
    }
  }
}