.services-header {
  margin: 0 1.6rem;
  padding-top: 24px;


  & h3 {
    font-size: 28px;
    line-height: 40px;
    color: #1B1C21;
    margin: 0;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  @media (min-width: 768px) {
    margin-left: 24px;
    margin-bottom: 32px;
  }
  @media (min-width: 1120px) {
    display: flex;
    justify-content:space-between ;
    margin-right: 32px;
  }
}