.side-menu-list {
  padding-top: 1px;

  &__item {
    margin-top: 32px;
    margin-left: 24px;
  }

  &__item a {
    display: table-cell;


    font-size: 16px;

    vertical-align: middle;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  &__item_active a::before {
    content: "";
    position: absolute;
    left: 0;

    width: 4px;
    height: 28px;
    background: #41F6D7;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  &__item_active a {
    color: #7E7E82;
  }
}