.species {

  &__header {
    width: 100%;
    height: 80px;
    padding: 16px;
    box-sizing: border-box;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    margin-bottom: 16px;

    & h3 {
      padding-right: 15px;
      font-family: TT Lakes , sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      text-wrap: normal;
      color: #7E7E82;
    }

  }



  &__container {
    display: none;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      display: flex;
    }

  }

  &__slide {
    display: flex;
    width: 224px;
    height: 160px;
    margin-left: 24px;
    margin-top: 24px;
    align-items: flex-start;
    &--hidden {
      display: none;
    }

    @media (min-width: 1440px) {
      margin-left: 32px;
    }

    & p {
      margin: 16px 0 0 16px;

      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: -0.2px;

      color: #1B1C21;
    }

    & a {
      margin-top: 90px;
      flex-shrink: 0;
    }

    &--swiper {
      width: 240px;
      height: 160px;
      align-items: flex-start;

      & p {
        margin: 16px 0 0 16px;

        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: -0.2px;

        color: #1B1C21;
      }

      & a {
        flex-shrink: 0;
        margin-top: 90px;

      }
    }


  }

  &__btn {
    border: none;
    background-color: transparent ;
    position: relative;
    padding: 1px;
    margin-left: 40px;
    margin-top: 24px;
  }
  &__btn span {
    margin-left: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  &__arrow-icon {
    content: '';
    width: 8px;
    height: 12px;
    position: absolute;
    top: 25%;
    left: -16px;
    background-image: url("../img/1.5/icon.svg");
    &--rotate {
      transform: rotate(180deg);
    }
  }
  &__hide {
    display: none;
  }

}